body{
    padding: 0;
    margin: 0;
    background-color: #303030;
    color: white;
    font-family: sans-serif;
}

#menu{
    margin-left: 0;
    padding-left: 20px;
}
#menu li{
    list-style-type: none;
    display: inline-block;
}
#menu li a:link, #menu li a:visited, #menu li a:active{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    margin: 10px;
}
#menu li a:hover{
    color: #ff0513;
}

/*------------------------------------1.resz--------------------------------*/

#container{
    width: 50%;
    margin: 0 auto 0 auto;
}
#container h1, #container h2{
    text-align: center;
}
#container #resz{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
    background-color: #ff0513;
}
#container #resz .tartalom{
    background-color: #303030;
}
#container #resz .tartalom img{
    width: 80px;
    display: block;
    margin: auto;
}
#container #resz .tartalom ul{
    margin-bottom: 0;
    margin-right: 15px;
}
#container #resz .tartalom li{
    list-style-image: url("imgs/arrow.png");
    margin-top: 10px;
}

/*-----------------------------------2.resz----------------------------------*/
#container2{
    width: 80%;
    margin: 75px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

#container2 h1{
    text-align: left;
    font-weight: bold;
    font-size: 40px;
}

#container2 #contLeft, #container2 #contRight{
    width: 100%;
}

#container2 #contLeft{
    display: grid;
    grid-template-columns: auto;
    gap: 1px;
    background-color: #ff0513;
}

#container2 #contLeft .tartalom2{
    background-color: #303030;
}


#container2 #contRight img{
    width: 100%;
    max-width: 500px;
    margin: auto;
}

/*-----------------------------------3.resz----------------------------------*/
#container3{
    width: 80%;
    margin: 75px auto 0 auto;
    display: grid;
    grid-template-columns: auto;
    gap: 10%;
}
#container3 #szoveg{
    text-align: center;
    width: 50%;
    margin: auto;
}
#container3 #szoveg h1{
    text-decoration: underline #ff0513;
}

#container3 #managers{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#container3 #managers .manager{
    text-align: center;
}
#container3 #managers .manager h2{
    font-size: 15px;
}
#container3 #managers .manager img{
    border-radius: 50%;
    width: 100px;
}
#container3 #managers .manager a:link, #container3 #managers .manager a:visited, #container3 #managers .manager a:active{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, rgb(123, 123, 255), rgb(52, 52, 255));
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    transition: 0.5s;
    display: block;
}
#container3 #managers .manager a:hover{
    color: #aaa;
}
/*------------------------------------Respo-----------------------------------*/

@media only screen and (max-width: 700px) {
    #menu{
        margin: 10px;
    }
    #menu li{
        list-style-type: none;
        display: inline-block;
        width: 100%;
        font-size: 6vw;
    }

    /*-----------------------1.resz----------------------*/
    #container #resz{
        width: 100%;
        grid-template-columns: auto;
        gap: 0px;
    }
    #container{
        width: 100%;
    }

    /*------------------------2.resz----------------------*/

    #container2{
        width: auto;
        margin: 50px 10px 0 10px;
        grid-template-columns: 1fr;
        gap: 10%;
    }

    #container2 h1{
        font-size: 6vw;
    }

    #container2 #contLeft{
        grid-template-columns: auto;
    }

    #container2 #contRight img{
        width: 100%;
    }

    /**/
    #container3{
        width: auto;
        margin: 100px 10px 0 10px;
        gap: 10%;
    }
    #container3 #szoveg{
        width: 100%;
        margin: 10px;
        font-size: 2.5vw;;
    }
    #container3 #szoveg h1{
        font-size: 6vw;
    }
    
    #container3 #managers{
        display: grid;
        grid-template-columns: auto;
    }
    #container3 #managers .manager h2{
        font-size: 3vw;;
    }


}
